@import '~bootstrap/scss/bootstrap';
@import './components/atoms/atoms.scss';
@import './components/molecules/molecules.scss';

.app{
    background-color: antiquewhite;
    min-height: 100vh;
}

.app-container{
    padding-top: 60px;
    max-width:1300px;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}


th{
    text-transform: capitalize;
}

td,th{
    vertical-align: middle;
    text-align: center;
}

button.btn-sm{
    width: 24px;
    height: 24px;
    padding: 4px;
    display: flex;
    justify-self: center;
    align-items: center;
}
