@import '~bootstrap/scss/bootstrap';
@import './components/atoms/atoms.scss';
@import './components/molecules/molecules.scss';

.app{
    background-color: antiquewhite;
    width: 100vw;
    height: 100vh;
}

.app-container{
    padding-top: 100px;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}


th{
    text-transform: capitalize;
}
